*{
    margin: 0;
    padding: 0;
    
}
.navbar{
    background-color: black;
}
.img{
    margin: 10px;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 10px 0px 16px 20px;
    padding: 10px;
    font-size: 16px;
}
.navbar ul{
    overflow: auto;
}
.navbar a{
    text-decoration: none;
    color: rgb(209, 206, 206);
}
.navbar a:hover{    
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.container{
    background: rgb(8, 206, 206);
    border-style: solid;
}
.data{
    text-align: center;
    margin: 0px 150px 94px;
    padding: 40px;
    align-items: center;
}
.block2{
    text-align: center;
    background-color:  rgb(8, 206, 206);
}
.btn{
    margin: 20px 0px 0px 0px;
    padding: 7px 12px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: rgb(26, 157, 251);
    color: aliceblue;
    border-color: rgb(26, 157, 251);
    cursor: pointer;
}
.btn2{
    border-radius: 5px;
    padding: 5px;
    background-color:  rgba(58, 228, 228, 0.647);
    cursor: pointer;
    margin: 2px 3px 5px 3px;
}
.row{
    background-color: rgba(58, 228, 228, 0.647);
}
.head{
    background-color: rgb(246, 186, 196);
}